@model IEnumerable<Blog.Models.BlogPost>
@using Blog.Services.Interfaces;

@inject IImageService ImageService

@{
    ViewData["Title"] = "Index";
}
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Abstract)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Slug)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsPublished)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Abstract)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>
                            <td>
                                @item.IsPublished
                            </td>
                            <td>
                                @item.IsDeleted
                            </td>
                            <td>
                                <div class="post-thumbnail">
                                    <img src='@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!)' alt="...">
                                </div>
                            </td>
                            <td>
                                @*Can see tags because they are included on index get.*@
                                @foreach (Tag tag in item.Tags)
                                {
                                    <p>@tag.Name</p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category!.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-slug="@item.Slug">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
